html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* --------Utility Classes ----------*/

.container{
  margin: auto;
  padding: 40px;
 }


body {
  background: linear-gradient(to right, #BF9356, #FFAA33, #5B8CAA);
  font-family: "MedievalSharp", cursive;
}
main { 
  background: linear-gradient(to right, #5B8CAA, #FFAA33, #BF9356);
  width: 80vw;
  max-width:980px;
  text-align:center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header.primary{
  background: linear-gradient(to right, #5B8CAA, #FFAA33, #BF9356);
  padding: 20px;
  background-image: url("../img/bg_1.webp");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border: 1px solid #BF9356;
display: flex;
}

header.primary nav{
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
text-decoration: none;
list-style-type: none;
width: 30%;
}
header.primary nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header.primary ul li a{ 
color: #ffffff;
display: block;
margin-bottom: 10px;
background:rgba(0, 0, 0, 0.6);
border: 1px solid #cc3a67;
border-right: 10px solid #cc3a67;
border-radius: 20px 0;
padding: 20px 20px 20px 20px;
text-align: center;
font-size: .9rem;


}
header.primary nav ul li a:hover {
  background: #cc3a67;
  text-decoration: underline;
}
div.hgroup a{
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 2px 2px #000;
  text-align: left;
}
div.hgroup h2{
  color: #ffffff;
  text-shadow: 2px 2px #000;
  font-size: 1.5rem;
}
.hgroup h1, .hgroup h2{
  margin: 0;
  padding: 0;
  
}

#content{
  line-height: 1.6;
}

#content h2{
  color: #161a59;
  border-left: 10px solid #cc3a67;
  border-radius: 75px;
  padding: 7.5px;

}
