html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------Responsive images ----------*/
img {
  max-width: 100%;
  height: auto;
}
/* --------Utility Classes ----------*/

.container{
  margin: auto;
  padding: 40px;
 }

 /*-------- media queries ----------*/
@media (max-width: 768px) {
  header.primary nav{
    flex-direction: column;
    width: 100%;
  }
  #blog .post {
    grid-template-columns: 1fr;
    grid-template-areas:
      "figure"
      "header"
      "post-content"
      "footer";
  }
  aside .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) {
 header.primary nav ul li a {
    font-size: 1.2rem;
    display: inline-block;
  }
}


body {
  background: linear-gradient(to right, #BF9356, #FFAA33, #5B8CAA);
  font-family: "MedievalSharp", cursive;
}
main { 
  background: linear-gradient(to right, #5B8CAA, #FFAA33, #BF9356);
  width: 80vw;
  max-width:980px;
  text-align:center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header.primary{
  background: linear-gradient(to right, #5B8CAA, #FFAA33, #BF9356);
  padding: 20px;
  background-image: url("../img/bg_1.webp");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border: 1px solid #BF9356;
display: flex;
}

header.primary nav{
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
text-decoration: none;
list-style-type: none;
width: 30%;
}
header.primary nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header.primary ul li a{ 
color: #ffffff;
display: block;
margin-bottom: 10px;
background:rgba(0, 0, 0, 0.6);
border: 1px solid #cc3a67;
border-right: 10px solid #cc3a67;
border-radius: 20px 0;
padding: 20px 20px 20px 20px;
text-align: center;
font-size: .9rem;


}
header.primary nav ul li a:hover {
  background: #cc3a67;
  text-decoration: underline;
}
div.hgroup a{
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 2px 2px #000;
  text-align: left;
}
div.hgroup h2{
  color: #ffffff;
  text-shadow: 2px 2px #000;
  font-size: 1.5rem;
}
.hgroup h1, .hgroup h2{
  margin: 0;
  padding: 0;
  
}

#content{
  line-height: 1.6;
}

#content h2{
  color: #161a59;
  border-left: 10px solid #cc3a67;
  border-radius: 75px;
  padding: 7.5px;

}

#blog {
  padding: 20px 0px 20px 0px;
  border-top: 2px solid #000000;
}
#blog > h2{
  text-align: center;
  color: white;
  text-shadow: #000 2px 2px;
  margin-left: auto;
}

#blog .post { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "figure header"
    "figure post-content"
    "figure footer";
    background-color: white;
    margin: 20px;
    padding: 20px;

}
.post  figure {
  grid-area: figure;
  margin: 0px 20px 0px 0px;
}
.post header {
  grid-area: header;
}
.post .post-content {
  grid-area: post-content;
}
.post .post-meta {
  grid-area: footer;
}

aside .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
}
footer {
  background: linear-gradient(to right, #5B8CAA, #FFAA33, #BF9356);
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
}
#colophon {
padding:10px;
background-image:url("../img/bg_1.webp");
background-repeat: no-repeat;
background-size: cover;
}
.widget {
 display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}