
    .formlabel {
        display: inline-block;
        width: 200px;
        text-align: right;
        padding: 5px;
        font-weight: bold;
    }

    .error {
        color: red;
        padding-left: 5px;
    }

body {
  background: linear-gradient(to right, #BF9356, #FFAA33, #5B8CAA);
  font-family: "MedievalSharp", cursive;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}